h1 {
    text-align : center
}

h3 {
    text-align : center
}

hr {
    margin-bottom : 30px;
}
.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px; 
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    max-width: 1200px;
  }

.card {
    width : 250px;
    height : 350px;
    margin : 20px;
    margin-bottom : 30px;
    box-shadow : 0 4px 8px rgba(0,0,0,0.1);

    cursor : pointer;
    transition : transform 0.3s ease;
}

.card:hover {
    transform: scale(1.10);
}

.card-image {
    display : flex;
    justify-content : center;
    align-items : center;
    margin-top: 50px;
}
.card-image img {
    width: 60%;
    height: 60%;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.circle {
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    color: #333;
    font-weight: bold;
  }
  
  @media (max-width: 1024px) {
    .card-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }